:host {
    display: block;
    height: 100%;
}

button {
    border: 0;
    background: #DDD;
    padding: 10px 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    outline: none;
}

button.active {
    background: #217de6;
    color: #FFF;
}